CompileFlags:
    Remove:
        - "-forward-unknown-to-host-compiler"
        - "--expt-extended-lambda"
        - "--generate-code=arch=compute_75,code=[compute_75,sm_75]"
        - "--generate-code=arch=compute_80,code=[sm_80]"
        - "--generate-code=arch=compute_80,code=[compute_80]"
        - "--generate-code=arch=compute_86,code=[sm_86]"
        - "--generate-code=arch=compute_86,code=[compute_86]"
        - "--generate-code=arch=compute_87,code=[sm_87]"
        - "--generate-code=arch=compute_87,code=[compute_87]"
        - "--generate-code=arch=compute_89,code=[sm_89]"
        - "--generate-code=arch=compute_89,code=[compute_89]"
        - "--generate-code=arch=compute_90,code=[sm_90]"
        - "--generate-code=arch=compute_90,code=[compute_90]"
        - "--generate-code=arch=compute_90a,code=[sm_90a]"
        - "--generate-code=arch=compute_90a,code=[compute_90a]"
        - "--generate-code=arch=compute_100,code=[sm_100]"
        - "--generate-code=arch=compute_100,code=[compute_100]"
        - "--generate-code=arch=compute_100a,code=[sm_100a]"
        - "--generate-code=arch=compute_100a,code=[compute_100a]"
        - "--generate-code=arch=compute_120,code=[sm_120]"
        - "--generate-code=arch=compute_120,code=[compute_120]"
        - "--generate-code=arch=compute_120a,code=[sm_120a]"
        - "--generate-code=arch=compute_120a,code=[compute_120a]"
        - "--generate-code=arch=compute_121,code=[sm_121]"
        - "--generate-code=arch=compute_121,code=[compute_121]"
        - "--generate-code=arch=compute_121a,code=[sm_121a]"
        - "--generate-code=arch=compute_121a,code=[compute_121a]"
        - "--generate-code=arch=compute_110,code=[sm_110]"
        - "--generate-code=arch=compute_110,code=[compute_110]"
        - "--generate-code=arch=compute_110,code=[sm_110]"
        - "--generate-code=arch=compute_110,code=[compute_110]"
        - "--generate-code=arch=compute_110a,code=[sm_110a]"
        - "--generate-code=arch=compute_110a,code=[compute_110a]"
        - "--generate-code=*"
        - "-Xcompiler=-fPIE"
        - "--expt-relaxed-constexpr"
        - "-Xcompiler=-Wconversion"
        - "-Xcompiler=-fno-strict-aliasing"
        - "-Xcompiler=-fPIC"
        - "-rdc=true"

---
If:
    PathMatch: src/cutlass\.cu
CompileFlags:
    Add:
        - "-ferror-limit=0"
        - "-I/usr/local/cuda/include/cccl"
        # - "-U__clang__"
